/* כותרת */
.register-title {
    margin-top: 50px; /* הוספת מרווח עליון */
    margin-bottom: 20px; /* הוספת מרווח תחתון */
    font-size: 2em; /* התאמת גודל הגופן אם יש צורך */
    text-align: center;
    color: #333; /* צבע כהה יותר */
}

/* קונטיינר ראשי */
.register-container {
    margin: 10px;
    padding: 20px;
    width: 80%;
    background-color: rgba(246, 244, 249, 0.9); /* גוון בהיר יותר */
    max-width: 700px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* הוספת צל */
}

/* שדות קלט */
.register-input {
    margin: 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px; /* הוספת רווח פנימי */
    background: none;
    border: 1px solid #ccc; /* גבול קל */
    border-radius: 5px; /* פינות מעוגלות */
    margin-bottom: 20px;
}

.register-input:focus {
    outline: none;
    border-color: rgb(169, 75, 35); /* גבול צבעוני כשממוקדים */
}

/* כפתור */
.register-button {
    background-color: rgb(49, 35, 61);
    border-radius: 10px;
    color: white;
    width: 30%;
    cursor: pointer;
    padding: 10px;
    border: none; /* הסרת גבול */
    transition: background-color 0.3s ease; /* אפקט ריכוך בעת ריחוף */
}

.register-button:hover {
    background-color: rgb(69, 45, 81); /* גוון כהה יותר בעת ריחוף */
}
