body {
    font-family: 'Arial', sans-serif; /* גופן כללי */
    background-color: #f9f9f9; /* צבע רקע כללי */
    margin: 0;
    padding: 20px;
}

.level-container {
    max-width: 800px;
    margin: auto;
    text-align: center; /* מרכז את התוכן */
}

h1 {
    color: #333; /* צבע הכותרת */
}

.level-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* רווח בין הרמות */
    margin-bottom: 20px;
}

.level-item {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-level-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    color: rgb(145, 103, 103); /* צבע הכפתור */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s; /* אנימציה לצבע */
}

.submit-button:hover {
    background-color: #88534f;  /* צבע הכפתור בהעברה */
}
