.login{
    color: rgb(206, 199, 212);
    font-size: x-large;
    text-decoration: none;
    margin: 0.8rem 30rem;
    width: auto;
    background-image: url(../Images/שמרים\ מערוך\ וקרש.png);
    background-image: no-repeat;
}